Repository kemadev/workflows-and-actions, changes with the labels that .github/labeler.yml gives for each.
All labels: area/root, area/worflows, area/dependencies

.github/labeler.yml:

# Read more about `labeler.yml` [here](https://github.com/actions/labeler)

area/root:
  - changed-files:
      - any-glob-to-any-file: "*"

area/worflows:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**", ".github/actions/**"]

area/dependencies:
  - changed-files:
      - any-glob-to-any-file: ["go.mod", "go.sum"]

type/bug:
  - head-branch: ["^bugfix/", "^hotfix/"]

type/feature:
  - head-branch: ["^feature/"]

env/dev:
  - head-branch: ["^env/dev"]

env/next:
  - head-branch: ["^env/next"]

env/prod:
  - head-branch: ["^env/prod"]

env/other:
  - head-branch: ["^env/", "!^env/dev", "!^env/next", "!^env/prod"]

build(test-pr): test owrkflows
  .github/workflows/docker-ci.yaml
  .github/workflows/gh-actions-ci.yaml
  .github/workflows/global-ci.yaml
  .github/workflows/global-lint.yaml
  .github/workflows/shell-ci.yaml
  .github/workflows/website-ci.yaml
Labels: area/worflows

fix(workflows): remove fetch-tags option from global CI checkout step
  .github/workflows/global-ci.yaml
Labels: area/worflows

feat(workflows): add dummy CI workflow configuration
  .github/workflows/dummy.yaml
Labels: area/worflows

feat(workflows): update permissions to allow writing checks in global CI workflow
  .github/workflows/global-ci.yaml
Labels: area/worflows

feat(workflows): enable step summary and validate all codebase in global CI workflow
  .github/workflows/global-ci.yaml
Labels: area/worflows

feat(workflows): enhance Super-linter configuration with output saving and annotation on failure
  .github/workflows/global-ci.yaml
Labels: area/worflows

fix(workflows): correct duplicate VALIDATE_GIT_COMMITLINT setting in global CI workflow
  .github/workflows/global-ci.yaml
Labels: area/worflows

fix(workflows): remove global linting workflow file
  .github/workflows/global-lint.yaml
Labels: area/worflows

fix(workflows): remove obsolete website CI workflow file
  .github/workflows/website-ci.yaml
Labels: area/worflows

feat(workflows): add goreleaser templating and move labeler config
  .github/script/reusable/render-goreleaser-config/go.mod
  .github/script/reusable/render-goreleaser-config/go.sum
  .github/script/reusable/render-goreleaser-config/render-goreleaser-config.go
  .github/workflows/pr-add-label.yaml
  config/.goreleaser.yaml.go.tmpl
  config/labeler.yaml
Labels: area/worflows

feat(workflows): add reusable configuration files for linting and security scanning
  .github/actions/checkout-reusable-scripts-and-configs/README.md
  .github/actions/checkout-reusable-scripts-and-configs/action.yaml
  .github/actions/checkout-reusable-scripts/action.yaml
  .github/workflows/go-cd.yaml
  .github/workflows/go-ci.yaml
  .github/workflows/pr-add-label.yaml
  config/reusable/.golangci.yml
  config/reusable/.goreleaser.yaml.go.tmpl
  config/reusable/.grype.yaml
  config/reusable/.markdown-lint.yml
  config/reusable/.syft.yaml
  config/reusable/.yaml-lint.yml
  config/reusable/labeler.yaml
Labels: area/worflows

feat(workflows): add markdown and yaml linting workflows with reusable configurations
  .github/actions/checkout-reusable-scripts-and-configs/action.yaml
  .github/workflows/README.md
  .github/workflows/docker-ci.yaml
  .github/workflows/gh-actions-ci.yaml
  .github/workflows/global-ci.yaml
  .github/workflows/markdown-ci.yaml
  .github/workflows/pr-check-title.yaml
  .github/workflows/shell-ci.yaml
  .github/workflows/yaml-ci.yaml
  config/README.md
  config/reusable/.markdown-lint.yml
  config/reusable/.markdownlint.yaml
  config/reusable/.yaml-lint.yml
  config/reusable/.yamllint.yaml
  config/reusable/README.md
Labels: area/worflows

feat(workflows): update checkout action to include reusable configs
  .github/actions/checkout-reusable-scripts-and-configs/README.md
  .github/actions/checkout-reusable-scripts-and-configs/action.yaml
  .github/actions/tag-semver/action.yaml
  .github/workflows/go-ci.yaml
  .github/workflows/housekeep-stale-branches.yaml
Labels: area/worflows

fix(workflows): ensure findings report runs regardless of previous steps
  .github/workflows/docker-ci.yaml
Labels: area/worflows

fix(workflows): remove exit code from findings report step to allow continuation
  .github/workflows/docker-ci.yaml
Labels: area/worflows

fix(workflows): format args for actionlint to improve readability
  .github/workflows/gh-actions-ci.yaml
Labels: area/worflows

fix(workflows): change args formatting for actionlint to improve readability
  .github/workflows/gh-actions-ci.yaml
Labels: area/worflows

fix(workflows): update args formatting for actionlint to use pipe style for better clarity
  .github/workflows/gh-actions-ci.yaml
Labels: area/worflows

fix(workflows): add step to checkout reusable workflow scripts and configs
  .github/workflows/go-ci.yaml
Labels: area/worflows

fix(workflows): update labeler configuration path to use reusable config
  .github/workflows/pr-add-label.yaml
Labels: area/worflows

fix(workflows): update sparse-checkout formatting for better readability
  .github/actions/checkout-reusable-scripts-and-configs/action.yaml
Labels: area/worflows

fix(workflows): set days before stale to 0 for immediate stale issue handling
  .github/workflows/housekeep-stale-issue-pr.yaml
Labels: area/worflows

fix(workflows): set days before close to 0 for immediate issue closure
  .github/workflows/housekeep-stale-issue-pr.yaml
Labels: area/worflows

fix(workflows): adjust days before stale to 30 and days before close to 7 for better issue management
  .github/workflows/housekeep-stale-issue-pr.yaml
Labels: area/worflows

fix(script): create output directory for report-stale-branches script
  .github/script/reusable/report-stale-branches/report-stale-branches.sh
Labels: none

fix(script): make days_before_stale configurable via environment variable
  .github/script/reusable/report-stale-branches/report-stale-branches.sh
  .github/workflows/housekeep-stale-branches.yaml
Labels: area/worflows

fix(workflows): set days before stale to 30 for improved branch management
  .github/workflows/housekeep-stale-branches.yaml
Labels: area/worflows

fix(workflows): add globs configuration for markdownlint to include all markdown files
  .github/workflows/markdown-ci.yaml
Labels: area/worflows

fix(workflows): update markdownlint action to version 19 for improved functionality
  .github/workflows/markdown-ci.yaml
Labels: area/worflows

fix(workflows): update
  .github/workflows/gh-actions-ci.yaml
  .github/workflows/go-ci.yaml
  .github/workflows/housekeep-stale-branches.yaml
  .github/workflows/housekeep-stale-issue-pr.yaml
  .github/workflows/sync-repo-template.yaml
  .github/workflows/yaml-ci.yaml
  config/reusable/.grype.yaml
  config/reusable/.syft.yaml
  config/reusable/.yamllint.yaml
  config/reusable/labeler.yaml
Labels: area/worflows

fix(docs): add organization-wide workflows and actions description to README
  README.md
  config/reusable/.golangci.yml
Labels: area/root

fix(workflows): update file extensions from .yml to .yaml for consistency
  .github/script/reusable/report-stale-branches/report-stale-branches.sh
  .github/workflows/go-ci.yaml
  config/reusable/.golangci.yaml
  config/reusable/labeler.yaml
Labels: area/worflows

fix(workflows): add file_or_dir configuration to include both .yaml and .yml files
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

fix(workflows): add warning for .yml files to encourage use of .yaml
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

fix(workflows): enhance warning for .yml files to include title for clarity
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

fix(workflows): update file_or_dir configuration to only include .yaml files
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

fix(workflows): comment out unused checkout step and config file reference
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

fix(workflows): exclude specific .yml files from warning message
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

fix(workflows): uncomment checkout step for reusable workflow scripts
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

fix(workflows): comment out checkout step for reusable workflow scripts
  .github/workflows/yaml-ci.yaml
Labels: area/worflows
