Repository kemadev/workflows-and-actions, changes with the labels that .github/labeler.yml gives for each.
All labels: area/root, area/worflows, area/dependencies

up
  ff.yml
Labels: area/root

up
  config/reusable/labeler.yaml
Labels: none

up
  config/reusable/labeler.yaml
Labels: none

up
  config/reusable/labeler.yaml
Labels: none

up
  config/reusable/.yamllint.yaml
Labels: none

up
  config/reusable/.golangci.yaml
Labels: none

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/dependabot.yaml
  .github/workflows/docker-ci.yaml
  .github/workflows/gh-actions-ci.yaml
  .github/workflows/go-cd.yaml
  .github/workflows/go-ci.yaml
  .github/workflows/markdown-ci.yaml
  .github/workflows/shell-ci.yaml
  .github/workflows/yaml-ci.yaml
  config/reusable/.markdownlint.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  config/reusable/.goreleaser.yaml.go.tmpl
Labels: none

up
  config/reusable/.goreleaser.yaml.go.tmpl
Labels: none

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  config/reusable/.goreleaser.yaml.go.tmpl
Labels: none

up
  config/reusable/.goreleaser.yaml.go.tmpl
Labels: none

up
  .github/script/reusable/render-goreleaser-config/render-goreleaser-config.go
Labels: none

up
  config/reusable/.goreleaser.yaml.go.tmpl
Labels: none

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/go-ci.yaml
Labels: area/worflows

up
  .github/workflows/global-ci.yaml
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/global-ci.yaml
Labels: area/worflows

up
  .github/script/reusable/render-goreleaser-config/go.mod
  .github/script/reusable/render-goreleaser-config/go.sum
  .github/workflows/go-ci.yaml
  foo.sh
Labels: area/root, area/worflows

up
  .github/script/reusable/render-goreleaser-config/go.mod
  .github/script/reusable/render-goreleaser-config/go.sum
  .github/workflows/go-ci.yaml
  foo.sh
Labels: area/root, area/worflows

up
  .github/workflows/go-ci.yaml
Labels: area/worflows

up
  .github/workflows/go-ci.yaml
Labels: area/worflows

up
  .github/workflows/housekeep-stale-issue-pr.yaml
Labels: area/worflows

up
  .github/workflows/housekeep-stale-issue-pr.yaml
Labels: area/worflows

up
  .github/workflows/housekeep-stale-issue-pr.yaml
Labels: area/worflows

up
  .github/workflows/housekeep-stale-issue-pr.yaml
Labels: area/worflows

up
  .github/workflows/foo.yaml
  .github/workflows/global-on-schedule.yaml
Labels: area/worflows

up
  .github/workflows/foo.yaml
  .github/workflows/global-on-schedule.yaml
Labels: area/worflows

up
  .github/script/reusable/output-tag-next-semver/output-tag-next-semver.go
  .github/workflows/global-on-schedule.yaml
  .github/workflows/go-cd.yaml
  config/reusable/labeler.yaml
Labels: area/worflows

up
  .github/script/reusable/report-failed-workflow/report-failed-workflow.sh
  .github/workflows/foo.yaml
  .github/workflows/global-on-schedule.yaml
Labels: area/worflows

up
  .github/script/reusable/report-failed-workflows/report-failed-workflows.sh
Labels: none

up
  .github/script/reusable/report-failed-workflows/report-failed-workflows.sh
Labels: none

.github/labeler.yml:

# Read more about `labeler.yml` [here](https://github.com/actions/labeler)

area/root:
  - changed-files:
      - any-glob-to-any-file: "*"

area/worflows:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**", ".github/actions/**"]

area/dependencies:
  - changed-files:
      - any-glob-to-any-file: ["go.mod", "go.sum"]

type/bug:
  - head-branch: ["^bugfix/", "^hotfix/"]

type/feature:
  - head-branch: ["^feature/"]

env/dev:
  - head-branch: ["^env/dev"]

env/next:
  - head-branch: ["^env/next"]

env/prod:
  - head-branch: ["^env/prod"]

env/other:
  - head-branch: ["^env/", "!^env/dev", "!^env/next", "!^env/prod"]
