Repository kemadev/workflows-and-actions, changes with the labels that .github/labeler.yml gives for each.
All labels: area/root, area/worflows, area/dependencies

fix(workflows): uncomment checkout step for reusable workflow scripts
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/actions/checkout-reusable-scripts-and-configs/action.yaml
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/actions/checkout-reusable-scripts-and-configs/action.yaml
Labels: area/worflows

up
  .github/actions/checkout-reusable-scripts-and-configs/action.yaml
Labels: area/worflows

up
  .github/actions/checkout-reusable-scripts-and-configs/action.yaml
Labels: area/worflows

up
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/actions/checkout-reusable-scripts-and-configs/action.yaml
Labels: area/worflows

up
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/workflows/gh-actions-ci.yaml
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/script/reusable/render-goreleaser-config/go.mod
  .github/script/reusable/render-goreleaser-config/go.sum
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/actions/checkout-reusable-scripts-and-configs/action.yaml
  .github/actions/tag-semver/action.yaml
  .github/workflows/go-cd.yaml
  .github/workflows/go-ci.yaml
  .github/workflows/housekeep-stale-branches.yaml
  .github/workflows/markdown-ci.yaml
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/actions/checkout-reusable-scripts-and-configs/action.yaml
Labels: area/worflows

up
  .github/actions/checkout-reusable-scripts-and-configs/action.yaml
Labels: area/worflows

up
  config/reusable/.goreleaser.yaml.go.tmpl
Labels: none

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/script/reusable/render-goreleaser-config/render-goreleaser-config.go
  .github/workflows/go-cd.yaml
Labels: area/worflows

up
  .github/script/reusable/render-goreleaser-config/render-goreleaser-config.go
Labels: none

up
  config/reusable/.goreleaser.yaml.go.tmpl
Labels: none

up
  .github/dependabot.yaml
Labels: none

up
  .github/dependabot.yml
Labels: none

up
  .github/dependabot.yaml
Labels: none

up
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  ff.yml
Labels: area/root

up
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

up
  .github/workflows/yaml-ci.yaml
Labels: area/worflows

.github/labeler.yml:

# Read more about `labeler.yml` [here](https://github.com/actions/labeler)

area/root:
  - changed-files:
      - any-glob-to-any-file: "*"

area/worflows:
  - changed-files:
      - any-glob-to-any-file: [".github/workflows/**", ".github/actions/**"]

area/dependencies:
  - changed-files:
      - any-glob-to-any-file: ["go.mod", "go.sum"]

type/bug:
  - head-branch: ["^bugfix/", "^hotfix/"]

type/feature:
  - head-branch: ["^feature/"]

env/dev:
  - head-branch: ["^env/dev"]

env/next:
  - head-branch: ["^env/next"]

env/prod:
  - head-branch: ["^env/prod"]

env/other:
  - head-branch: ["^env/", "!^env/dev", "!^env/next", "!^env/prod"]
